#* Docker - file backend
/backend/docker-compose.yml
/backend/docker-compose.*.yml
/backend/Dockerfile.*
/backend/.docker/

#* Env
.env
.env.local
.env.*.local
.env.development
.env.production
.env.test
.env.staging
*.env