.login_opt {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    margin: 0.2rem 0;
}

.login_opt label {
    font-weight: 800;
    font-size: 16pt;
}

.login_opt input {
    background: #393E46;
    border-radius: 15px;

    height: 1.5rem;
    padding: .5rem;

    font-size: 14pt;

    color: #FFA500;
}
